/* Some Web safe fonts:

Note: if the font name has two or more words, it must be in quotes, like: "Times New Roman"

- Serif fonts:
Georgia, serif;
"Palatino Linotype", "Book Antiqua", Palatino, serif;
"Times New Roman", Times, serif

- Sans-Serif Fonts
Arial, Helvetica, sans-serif;
"Arial Black", Gadget, sans-serif;
"Comic Sans MS", cursive, sans-serif;
Impact, Charcoal, sans-serif;

- Monospace Fonts
"Courier New", Courier, monospace;
"Lucida Console", Monaco, monospace;

You can use Google Fonts to use as a free resource for fonts. 
https://fonts.google.com/

*/



header, footer{
    font-family: "Jersey 15", cursive;
    font-size: 2vw;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
}

main {
    margin: 0 auto;
    width: 90%;
}

a {
    /* text-decoration: none; */
    color: blue;
}

header, footer {
    text-align: center;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: darkred;
}

header {
    background-color: lightblue;
}

button {
    color: black;
    cursor: pointer;
    font-family: inherit;
    font-weight:bolder;
}
