<!DOCTYPE html>
<html lang="en">
<body>
    <nav id="sub-nav">
        <a href="../../index.html">Home</a>
        <a href="../../my-info.html">My Info</a>
        <a href="../../my-plans.html">My Plans</a>
        
        <div class="dropdown">
            <button class="dropbtn">Song Lyrics
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="PrimeraCita.html"> Primera Cita </a>
                <a href="QueOndaPerdida.html"> Que Onda Perdida </a>
                <a href="Starlight.html"> Starlight </a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Html
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="../../images.html">Images</a>
                <a href="../../videos.html">Videos</a>
                <a href="../../lists.html">Lists</a>
                <a href="../../formating-text.html">Formating Text</a>
                <a href="../../block-vs-inline-tags.html">Block vs Inline Tags</a>
                <a href="../../forms.html">Forms</a>
                <a href="../../tables.html">Tables</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">CSS
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="../../css-selectors.html">CSS Selectors</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">CSS Exercises
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="uncle-stef/ch2-lesson-1-4.html">Ch2 Lesson 1-4</a>
            </div>
        </div>
    </nav>
</body>
</html>