<!DOCTYPE html>
<html lang="en">
<body>
    <nav id="sub-nav">
        <!-- Common Links -->
        <a href="../../index.html">Home</a>
        <a href="../../my-info.html">My Info</a>
        <a href="../../my-plans.html">My Plans</a>
        
        <!-- Song Lyrics -->
        <div class="dropdown">
            <button class="dropbtn">Song Lyrics
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="PrimeraCita.html"> Primera Cita </a>
                <a href="QueOndaPerdida.html"> Que Onda Perdida </a>
                <a href="Starlight.html"> Starlight </a>
            </div>
        </div>
        <!-- End Song Lyrics -->

        <!-- HTML -->
        <div class="dropdown">
            <button class="dropbtn">HTML
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="../../images.html">Images</a>
                <a href="../../videos.html">Videos</a>
                <a href="../../lists.html">Lists</a>
                <a href="../../formating-text.html">Formating Text</a>
                <a href="../../block-vs-inline-tags.html">Block vs Inline Tags</a>
                <a href="../../forms.html">Forms</a>
                <a href="../../tables.html">Tables</a>
            </div>
        </div>
        <!-- End HTML -->

        <!-- CSS -->
        <div class="dropdown">
            <button class="dropbtn">CSS
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="../../css-selectors.html">Selectors</a>
                <a href="../../css-color.html">Color</a>
                <a href="../../css-text.html">Text</a>
                <a href="../../css-inheritance.html">Inheritance</a>
                <a href="../../css-box-model.html">Box Model</a>
                <a href="../../css-links-and-lists.html">Links & Lists</a>
                <a href="../../css-display-and-position.html">Display & Position</a>
                <a href="../../css-media-queries.html">Media Queries</a>
                <a href="../../css-layout.html">Layout</a>
            </div>
        </div>
        <!-- End CSS -->

        <!-- Extra CSS -->
        <div class="dropdown">
            <button class="dropbtn">Extra CSS
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="../../css-navbar.html">Navbar</a>
                <a href="../../css-flexbox.html">Flexbox</a>
                <a href="../../css-grid.html">Grid</a>
            </div>
        </div>
        <!-- End Extra CSS -->
    </nav>
</body>
</html>