header, .navbar-content {
    background-image: url("../../assets/images/nature/white-river-mountain.jpeg");
    background-position: center;
    background-size: cover;
    color: white;
}

body {
    /* background-image: url("../assets/images/S_S_Marbl22l.JPG"); */
    /* background-image: url("../assets/images/spidey-venom.jpeg");
    background-repeat: repeat-x;
    background-position: center;
    /* background-attachment: fixed; */

    /* Instead of all of the above, we can also do: */
    /* background: color url repeats position attachment; */
    background: #FFF url("../../assets/images/super-hero/spidey-venom.jpeg") repeat-x center;
}

.container {
    /* background-image: url("../assets/images/spider-man-2.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    /* background-attachment: fixed; */ /* This will make the image stay in place, even while we scroll */
    /* background-color: #FFF; */

    background: #FFF url("../../assets/images/super-hero/spider-man-2.jpg") no-repeat top right;
    background-size: 100px 100px;
}

footer {
    background-image: url("../../assets/images/tiles/S_S_Watr-h09.JPG");
    background-repeat: no-repeat;
}