a.google {
    color: blue;
    font-weight: bold;
    transition: all 0.3s ease;
}

a.google:hover {
    color: red;
    font-size: 32px;

    /*This is like a dropshadow for the text*/
    /* text-shadow: -10px 3px 10px lightgrey; */

    /*This is like a glow effect*/
    text-shadow: 0 0 10px red;
}

main .alist a {
    font-family: "Jersey 15", serif;
    font-size: 20px;
    background-color: var(--primary);
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s ease;
} 

/*The order of psuedo classes MATTERS*/
/*Think of Love & Hate to remember (L-V-H-A) */

/*unvisited link and visited link*/
main .alist a:link, main .alist a:visited {
    color: var(--white);
    text-decoration: none;
    display: block;
    width: 145px;
    transition: all 0.3s ease;
}

/*mouse over link*/
main .alist a:hover {
    color: var(--white);
    /* background-color: black; */
    background: var(--secondary);
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
    margin-bottom: 45px;
}

/*selected link*/
main .alist a:active {
    color: yellow;
    background-color: var(--black);
    font-weight: bold;
}

/*SVG Arrow*/
svg {
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
}

svg:hover {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#arrow-right-solid {
    fill: var(--primary);
    transition: all 0.3s ease;
}

#arrow-right-solid:hover {
    fill: var(--secondary);
}

/*List Styling*/

ul li {
    list-style-type: none;
    margin: 15px 0;
}

.list-image {
    list-style-type: none;
}

.animals-div {
    border: 5px solid var(--black);
    background-color: coral;
}

ol.ol-list {
    border: 5px solid var(--black);
    background-color: var(--secondary);
    list-style-type:armenian;
    margin: 20px;
    padding: 20px;
    width: 50%;
}

ol.ol-list li {
    border: 1px solid var(--black);
    background-color: var(--white);
    margin: 10px;
    padding: 10px;
    width: 50%;
}

.list-image-item {
    margin: 0;
    background-image: url("../../assets/images/red-star-bullet.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-top: 10px;
    background-position: 0px 9px;

    /*Each list item is a block level tag, uncomment background color to see*/
    /*background-color: #ADD8E6;*/
    margin-bottom: 5px;
}

/* Navbars Section */

/* Navbar Styling */
#navbar ul {
    border: 5px solid var(--black);
    list-style-type: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 5px;
}

/* Navbar Item Styling */
#navbar .navbar-item a {
    border: 5px solid var(--secondary);
    text-decoration: none;
    color: var(--white);
    background: var(--primary);
    padding: 10px;
}

/* Navbar Item Hover Styling */
.navbars #navbar .navbar-item a:hover {
    border: 5px solid var(--primary);
    color: var(--black);
    background: var(--secondary);
}