<!DOCTYPE html>
<html lang="en">
<body>
    <nav id="sub-nav">
        <!-- Common Links -->
        <a href="../../index.html">Home</a>
        <a href="../../my-info.html">My Info</a>
        <a href="../../my-plans.html">My Plans</a>
        
        <!-- Song Lyrics -->
        <div class="dropdown">
            <button class="dropbtn">Song Lyrics
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="PrimeraCita.html"> Primera Cita </a>
                <a href="QueOndaPerdida.html"> Que Onda Perdida </a>
                <a href="Starlight.html"> Starlight </a>
            </div>
        </div>
        <!-- End Song Lyrics -->

        <!-- HTML -->
        <div class="dropdown">
            <button class="dropbtn">HTML
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="../../html-pages/images.html">Images</a>
                <a href="../../html-pages/videos.html">Videos</a>
                <a href="../../html-pages/lists.html">Lists</a>
                <a href="../../html-pages/formating-text.html">Formating Text</a>
                <a href="../../html-pages/block-vs-inline-tags.html">Block vs Inline Tags</a>
                <a href="../../html-pages/forms.html">Forms</a>
                <a href="../../html-pages/tables.html">Tables</a>
            </div>
        </div>
        <!-- End HTML -->

        <!-- CSS -->
        <div class="dropdown">
            <button class="dropbtn">CSS
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="../../css-pages/css-selectors.html">Selectors</a>
                <a href="../../css-pages/css-color.html">Color</a>
                <a href="../../css-pages/css-text.html">Text</a>
                <a href="../../css-pages/css-inheritance.html">Inheritance</a>
                <a href="../../css-pages/css-box-model.html">Box Model</a>
                <a href="../../css-pages/css-links-and-lists.html">Links & Lists</a>
                <a href="../../css-pages/css-display-and-position.html">Display & Position</a>
                <a href="../../css-pages/css-media-queries.html">Media Queries</a>
                <a href="../../css-pages/css-layouts.html">Layouts</a>
            </div>
        </div>
        <!-- End CSS -->

        <!-- Extra CSS -->
        <div class="dropdown">
            <button class="dropbtn">Extra CSS
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="../../extra-css-pages/css-navbar.html">Navbar</a>
                <a href="../../extra-css-pages/css-flexbox.html">Flexbox</a>
                <a href="../../extra-css-pages/css-grid.html">Grid</a>
                <a href="../../extra-css-pages/css-animations.html">Animations</a>
                <a href="../../extra-css-pages/css-transitions.html">Transitions</a>
                <a href="../../extra-css-pages/css-transforms.html">Transforms</a>
                <a href="../../extra-css-pages/css-variables.html">Variables</a>
                <a href="../../extra-css-pages/css-sass.html">Sass</a>
                <a href="../../extra-css-pages/css-bootstrap.html">Bootstrap</a>
                <a href="../../extra-css-pages/css-materialize.html">Materialize</a>
                <a href="../../extra-css-pages/css-bulma.html">Bulma</a>
            </div>
        </div>
        <!-- End Extra CSS -->
    </nav>
</body>
</html>