header h4 {
    color : var(--secondary);
}

.lyrics-box {
    color : navy;
}

/* Lyrics Header */
.lyrics-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 10px 10px 0 0;
}

/*Lyrics buttons*/
.lyrics-button {
    background-color: var(--primary);
    color: var(--white);
    padding: 10px;
    transition: all 0.3s ease;
}

.lyrics-button:hover {
    font-size: 1.1em;
}

.lyrics-button:active {
    background-color: var(--white);
    color: var(--primrary);
}

/*Lyrics style*/
.lyrics-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    border: 2px solid;
}

.lyrics-text {
    font-weight: bold;
    /* width: calc(100% - 25%); */
    border: 2px solid;
    border-radius: 10px;
    background-color: var(--white);
    /* padding: 20px 25%; */
    display: table;
    table-layout: fixed;
    width: 50%;
    white-space: pre-wrap;
    text-align: center;
}